@charset "UTF-8";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    margin: 0;
}

/* backtop */
.back-to-top {
    position: sticky;
    padding-right: 30px;
    bottom: 0;
    right: 0;
    left: 100%;
    z-index: 1;
}

.back-to-top img {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .back-to-top {
        position: fixed;
        bottom: 15px;
        right: 15px;
        left: auto;
        padding-right: 0;
    }

    .back-to-top img {
        width: 8px;
        height: auto;
    }
}